<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="telstra">
	<!-- <listeners> 
		<listener class-name="reports.TestListener" ></listener>
	</listeners> -->
  <test name="Test">
  	<classes>
  		<class name = "com.telstra.test.LoginTest" ></class>
  		<class name = "com.telstra.test.CheckoutItemTest" ></class>
  	</classes>
  </test> 
</suite>
